/*
@settings
name: Better Color
id: better-color
settings:
  - title: 红色
    id: color-red
    type: variable-color
    format: hex
    alt-format:
     - id: color-red-rgb
       format: rgb-values
*/
body {
  /** 标题颜色 */
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);
}

/*
@settings
name: Better layout
id: better-layout
settings:
  - id: file-line-width
    title: max width of the file view
    title.zh: 文件区域的最大宽度
    type: variable-number-slider
    min: 600
    max: 1500
    step: 50
    default: 900
    format: px
*/
body {
  --file-line-width: 900px;
}

/*
@settings
name: Focus Mode
id: setting-focus-mode
description: 会突出显示光标所在的行（不包括空行，包括表格行）
settings:
  -
    id: focus-line-color
    title: Focus Line Color
    title.zh: 颜色
    description: the color of focus line
    description.zh: 突出显示的颜色
    type: variable-color
    format: rgb-values
    default: 'rgb(138, 92,245)'
  - id: focus-mode_table-enabled
    title: Focus Table
    title.zh: 表格启用
    description: highlight the line when edit table
    description.zh: 在编辑表格时会突出显示当前行
    type: class-toggle
    default: true
*/
:root {
  --focus-line-color: 138, 92, 245;
}

/* current line */
.cm-line.cm-active:not(:has(br), .HyperMD-codeblock, table *) {
  /*  background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);*/
  /*box-shadow: -16px 0 hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.2);*/
  outline: 2px dashed rgba(var(--focus-line-color), 0.8);
  outline-offset: 8px;
  border-radius: 4px;
  box-shadow: 0 0 0 4px rgba(var(--focus-line-color), 0.08);
  background-color: rgba(var(--focus-line-color), 0.08);
}

.focus-mode_table-enabled tr:has(td:not(.is-selected) .cm-line.cm-active) {
  outline: 2px dashed rgba(var(--focus-line-color), 0.8);
}

.block-language-button button {
  cursor: pointer;
  transition-property: color backgroundColor border opacity;
  transition-duration: 300ms;
  height: fit-content;
  white-space: break-spaces;
  /* 跟随 the obsidian color */
  /* size */
}
.block-language-button button.green {
  --button-accent: var(--color-green);
  --button-accent-rgb: var(--color-green-rgb);
}
.block-language-button button:hover {
  opacity: 0.8;
}
.block-language-button button:not(.default) {
  background-color: var(--button-accent);
  border-color: rgba(var(--button-accent-rgb), 0.2);
  color: white;
}
.block-language-button button.button-default {
  margin: 0;
}
.block-language-button button.purple {
  --button-accent: var(--color-purple);
  --button-accent-rgb: var(--color-purple-rgb);
}
.block-language-button button.red {
  --button-accent: var(--color-red);
  --button-accent-rgb: var(--color-red-rgb);
}
.block-language-button button.yellow {
  --button-accent: var(--color-yellow);
  --button-accent-rgb: var(--color-yellow-rgb);
}
.block-language-button button.blue {
  --button-accent: var(--color-blue);
  --button-accent-rgb: var(--color-blue-rgb);
}
.block-language-button button.secondary {
  background-color: rgba(var(--button-accent-rgb), 0.2);
  color: var(--button-accent);
  border: none;
  box-shadow: none;
}
.block-language-button button.outline {
  outline: 1px solid rgba(var(--button-accent-rgb), 0.3);
  background-color: transparent;
  color: var(--button-accent);
  box-shadow: none;
}
.block-language-button button.outline:hover {
  outline-color: rgba(var(--button-accent-rgb), 0.8);
}
.block-language-button button.ghost {
  background-color: transparent;
  color: inherit;
  border: none;
  box-shadow: none;
}
.block-language-button button.ghost:hover {
  background-color: rgba(var(--button-accent-rgb), 0.2);
  color: var(--button-accent);
}
.block-language-button button.inline, .block-language-button button.inline-block {
  display: inline-block;
}
.block-language-button button.w-full {
  width: 100%;
}
.block-language-button button.w-1\/12 {
  width: 8.333333%;
}
.block-language-button button.w-1\/6, .block-language-button button.w-2\/12 {
  width: 16.666667%;
}
.block-language-button button.w-3\/12, .block-language-button button.w-1\/4 {
  width: 25%;
}
.block-language-button button.w-1\/3, .block-language-button button.w-2\/6, .block-language-button button.w-4\/12 {
  width: 33.333333%;
}
.block-language-button button.w-5\/12 {
  width: 41.666667%;
}
.block-language-button button.w-1\/2, .block-language-button button.w-2\/4, .block-language-button button.w-3\/6, .block-language-button button.w-6\/12 {
  width: 50%;
}
.block-language-button button.w-7\/12 {
  width: 58.333333%;
}
.block-language-button button.w-2\/3, .block-language-button button.w-4\/6, .block-language-button button.w-8\/12 {
  width: 66.666667%;
}
.block-language-button button.w-3\/4, .block-language-button button.w-9\/12 {
  width: 75%;
}
.block-language-button button.w-5\/6, .block-language-button button.w-10\/12 {
  width: 83.333333%;
}
.block-language-button button.w-11\/12 {
  width: 91.666667%;
}
.block-language-button button.w-1\/5 {
  width: 20%;
}
.block-language-button button.w-2\/5 {
  width: 40%;
}
.block-language-button button.w-3\/5 {
  width: 60%;
}
.block-language-button button.w-4\/5 {
  width: 80%;
}
.block-language-button button.size-md {
  font-size: 2em;
}

.markdown-preview-section div:has(.block-language-button button.w-1\/5) {
  width: 20%;
  display: inline-block;
}
.markdown-preview-section div:has(.block-language-button button.w-1\/5) .block-language-button button {
  width: 100%;
}

.markdown-preview-section div:has(.block-language-button button.w-2\/5) {
  width: 40%;
  display: inline-block;
}
.markdown-preview-section div:has(.block-language-button button.w-2\/5) .block-language-button button {
  width: 100%;
}

.markdown-preview-section div:has(.block-language-button button.w-3\/5) {
  width: 60%;
  display: inline-block;
}
.markdown-preview-section div:has(.block-language-button button.w-3\/5) .block-language-button button {
  width: 100%;
}

.markdown-preview-section div:has(.block-language-button button.w-4\/5) {
  width: 80%;
  display: inline-block;
}
.markdown-preview-section div:has(.block-language-button button.w-4\/5) .block-language-button button {
  width: 100%;
}

body {
  --icon-star: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%2210%22%20viewBox%3D%220%200%209%2010%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.37316%200.851288C4.47459%200.59117%204.85275%200.624255%204.90746%200.898033L5.48015%203.76369C5.49882%203.85714%205.56384%203.93463%205.65263%203.96925L8.37531%205.03085C8.63543%205.13228%208.60234%205.51044%208.32856%205.56515L5.4629%206.13784C5.36945%206.15651%205.29197%206.22153%205.25735%206.31032L4.19574%209.033C4.09432%209.29312%203.71616%209.26003%203.66145%208.98625L3.08876%206.12059C3.07008%206.02714%203.00506%205.94966%202.91627%205.91504L0.193598%204.85343C-0.0665204%204.75201%20-0.0334351%204.37385%200.240343%204.31914L3.106%203.74645C3.19945%203.72777%203.27694%203.66275%203.31156%203.57396L4.37316%200.851288Z%22%20fill%3D%22url(%23paint0_linear_1325_2977)%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_1325_2977%22%20x1%3D%229.7012%22%20y1%3D%220.396946%22%20x2%3D%22-0.813864%22%20y2%3D%220.0424293%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23F8E42E%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FF7D54%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  --embed-block-shadow-hover: 0 0 0 3px hsla(var(--color-accent-hsl), 0.2);
  /* 自定义 */
  --diy-code-background-rgb: 23, 185, 234;
}

.theme-dark {
  --link-decoration-thickness: 2px;
}

/* 引用块 */
/* 源码模式 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote::before {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20viewBox%3D%220%200%2037%2029%22%20class%3D%22mb-2%20s-10%20md%3Aabsolute%20md%3Aright-%5Bcalc(100%25%2B1rem)%5D%20md%3Atop-6%22%20astro-icon%3D%22quote%22%3E%3Cpath%20fill%3D%22url(%23astroicon%3Aquotea)%22%20d%3D%22m33.02.359.912%201.418c-6.28%204.118-9.419%208.237-9.419%2012.355%200%202.093.912%203.309%202.734%203.646l4.254-3.95c1.35.473%202.566%201.35%203.646%202.634%201.148%201.215%201.722%202.802%201.722%204.76%200%201.957-.777%203.645-2.33%205.063-1.553%201.35-3.612%202.026-6.177%202.026-2.499%200-4.592-.844-6.28-2.532-1.62-1.756-2.43-4.152-2.43-7.19%200-6.617%204.456-12.694%2013.368-18.23Zm-19.04%200%20.912%201.418c-6.279%204.118-9.419%208.237-9.419%2012.355%200%202.093.912%203.309%202.735%203.646l4.253-3.95c1.35.473%202.566%201.35%203.646%202.634%201.148%201.215%201.722%202.802%201.722%204.76%200%201.957-.776%203.645-2.33%205.063-1.552%201.35-3.611%202.026-6.177%202.026-2.498%200-4.591-.844-6.28-2.532-1.62-1.756-2.43-4.152-2.43-7.19%200-6.617%204.456-12.694%2013.369-18.23Z%22%3E%3C%2Fpath%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22astroicon%3Aquotea%22%20x1%3D%2236.869%22%20x2%3D%22-2.836%22%20y1%3D%22.359%22%20y2%3D%2221.979%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%234AF2C8%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%232F4CB3%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: top center;
}

/* 无序列表 */
.list-bullet:after {
  content: "";
  background-image: var(--icon-star);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  background-color: transparent;
}

/* 无序列表 - in callout */
.cm-callout ul > li:not(.task-list-item) {
  list-style: none;
  position: relative;
}

/* checkbox */
.markdown-source-view.mod-cm6 .contains-task-list .task-list-item-checkbox {
  margin-inline-start: calc(var(--checkbox-size) * -1.5);
}

.cm-callout ul > li:not(.task-list-item)::before {
  background-image: var(--icon-star);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(-6px - var(--list-indent) / 2);
  top: calc(50% - 6px);
}

/* a */
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-formatting-link.cm-url,
.cm-s-obsidian span.cm-url {
  color: var(--color-purple);
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration-thickness: 2px;
}

/* bold */
.cm-strong {
  color: hsl(var(--color-accent-hsl));
}

/* 演示 */
.reveal strong {
  color: var(--color-purple);
}

/* callout */
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
  box-shadow: none;
}

.markdown-source-view.mod-cm6 .callout:hover {
  box-shadow: 0 0 0 2px inset rgba(var(--callout-color), 0.2);
}

/* highlight 高亮 */
.cm-s-obsidian span.cm-highlight,
.markdown-rendered mark {
  background-color: var(--color-purple);
  color: white;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* inline-code行内代码 */
.cm-s-obsidian span.cm-inline-code,
.markdown-rendered code {
  border: 1px solid rgba(var(--diy-code-background-rgb), 0.5);
  background-color: rgba(var(--diy-code-background-rgb), 0.2);
  color: white;
}

.theme-light .cm-s-obsidian span.cm-inline-code,
.theme-light .markdown-rendered code {
  border: 1px solid rgba(var(--diy-code-background-rgb), 0.8);
  background-color: rgba(var(--diy-code-background-rgb), 0.5);
  color: white;
}